<div class="form-group">

    <label class="mt-4" for="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">

    <label class="mt-4" for="description">Description</label>
    <textarea required type="main_text" name="main_text" id="main_text" class="form-control" rows="5"></textarea>
    <br>
    <button type ="submit" class="btn btn-primary">Save</button>
    <a href="http://localhost:5002" class="btn btn-secondary">Cancel</button>
    
</div>